html{
    background: linear-gradient(45deg, rgba(255, 184, 142, 0.35) 0%, rgba(234, 87, 83, 0.48) 100%);
}

.fundo {
    transform: translatey(0px);
    animation: float 6s ease-in-out infinite;
}

@keyframes float {
    0% {
        transform: translatey(0px);
    }

    50% {
        transform: translatey(-10px);
    }

    100% {
        transform: translatey(0px);
    }
}